/*
 *  Fonts Setup
 */

@font-face {
    font-family: "Lexend Deca / Josefin Sans";
    src: url("/assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Lexend Deca / Josefin Sans";
    src: url("/assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf");
    font-weight: 100 700;
    font-style: italic;
    font-display: swap;
}

/*
 *  CSS
 */

* {
    font-family: "Lexend Deca / Josefin Sans", sans-serif;
    box-sizing: border-box;
    line-height: 1.6;
    margin: 0px;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(32px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

:root {
    --primary: #faf3dd;
    --secondary: #061a40;
    --accent: #df928e;
    --on-primary: #4a5043;
    --on-secondary: #86a5d9;
    --accent-filter: invert(90%) sepia(17%) saturate(3016%) hue-rotate(298deg) brightness(98%) contrast(79%);
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary: #061a40;
        --secondary: #df928e;
        --accent: #86a5d9;
        --on-primary: #faf3dd;
        --on-secondary: #4a5043;
        --accent-filter: invert(73%) sepia(5%) saturate(3182%) hue-rotate(185deg) brightness(88%) contrast(93%);
    }
}

html,
body {
    background-color: var(--primary);
    color: var(--on-primary);
    width: 100%;
    height: 100%;
    border-bottom: solid var(--secondary) 4px;
}

a {
    color: var(--on-primary);
    font-weight: 600;
}

a > img {
    transition: transform .25s;
}

a:hover, a:visited:hover {
    color: var(--accent);
}

a:hover > img, a:visited:hover > img {
    transform: scale(125%);
}

a:visited {
    color: var(--on-primary);
}

hr {
    border: 1px solid var(--on-primary);
    margin-block: 4px 8px;
}

.small {
    font-family: monospace;
    font-size: 8pt;
}

.container {
    width: 100%;
    height: 100%;
    padding: 16px;
    
    display: grid;
    place-content: center;
    text-align: center;
}

.container > * {
    margin: 4px;
}

header {
    font-weight: 900;
    font-size: 16pt;
    position: absolute;
    top: 16px;

    display: flex;
    gap: 4px;
    justify-content: space-between;
    align-items: center;
    opacity: 0.001;
}

.content {
    opacity: 0.001;

    display: grid;
    gap: 8px;
}

.content.slide-in {
    animation: slide-in 1s ease-out forwards;
}

.section-head {
    font-family: monospace;
}

.email {
    display: flex;
    justify-content: center;
    gap: 8px;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

header > img, .email > img, .buttons > a > img {
    object-fit: contain;
    width: 32px;
    max-width: 1.5em;
    height: auto;
    filter: var(--accent-filter);
}

header > img {
    width: 32px;
    animation: rotate 10s linear infinite;
}

.email > img {
    width: 12px;
}

footer {
    position: fixed;
    left: 0px;
    right: -0px;
    bottom: 16px;
    opacity: 0.001;
}

.italic {
    font-style: italic;
}

.header.fade-in, .footer.fade-in {
    animation: fade-in 1s ease-out forwards;
}

@media (min-width: 700px) {
    .container {
        width: 80%;
        margin: auto;
    }
}