<!DOCTYPE html>
<html lang="en">
   <head>
      <title>dfx81 | {{page.title}}</title>
      <link rel="stylesheet" type="text/css" href="/css/main.css"/>
      <!-- script src="/js/script.js"></script -->
   </head>
   <body>
   	<div id="header">
   		D:// DragonFly Terminal / dfx81
   	</div>
   	<div id="main">
   		<div id="nav">
   			<div id="logo">
   				<img src="/resource/logo.png"/>
   				<br/>
   			</div>
   			<h1>$dir</h1>
   			<hr/>
   			:home
   			<br/>
   			:about dfx
   			<br/>
   			:about site
   			<br/>
   			:contact
   			<br/>
   			:exit
   		</div>
   		<div id="content">
   			<h1>:{{page.title}}</h1>
   			<hr/>
	   		<p>{{content}}</p>
   			<a href="index.html">:home</a>
   		</div>
   	</div>
   	<div id="footer">
   		Copyright 2018-2019 dfx &copy; (dfx81.github.io)
   	</div>
   </body>
</html>
