<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns= "http://www.w3.org/1999/xhtml">
<head>
<title>dfx81 | {{page.title}}</title>
<meta charset="UTF-8"/>
<meta http-equiv="content-language" content="en">
<meta name="description" content="dfx's Official Website"/>
<meta name="keywords" content="games, programming, softwares, dfx, DragonFly Terminal, dfx's blog"/>
<!--meta name="viewport" content="width=device-width, initial-scale=1.0"/-->
<link rel="stylesheet" type="text/css" href="/css/main.css"/>
<!-- script src="/js/script.js"></script -->
</head>
<body>
<div id="header">
DragonFly Terminal / dfx81
</div>
<div id="main">
<div id="nav">
<div id="logo">
<img src="/resource/logo.png"/>
<br/>
</div>
<h1>$dir</h1>
<hr/>
<a href="https://dfx81.github.io">:home</a>
<br/>
<a href="https://dfx81.github.io/blog">:dfx's blog</a>
<br/>
<a href="https://www.instagram.com/dfx_81">:insta</a>
<br/>
<a href="https://www.twitter.com/dfx_81">:twitter</a>
<br/>
<a href="https://dfx81.github.io/archive/Pong.html">:play Pong!</a>
<br/>
</div>
<div id="content">
<h1>:{{page.title}}</h1>
<hr/>
<p>{{content}}</p>
<a href="index.html">:home</a>
</div>
</div>
<div id="footer">
Copyright 2018-2019 dfx &copy; (dfx81.github.io)
</div>
</body>
</html>